<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kantakt peyj</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}
<h1>nimadurrla nima nimadurrla</h1>
<h1>nimadurrla nima nimadurrla</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium architecto consequatur corporis eligendi eveniet facere iste, maiores mollitia obcaecati omnis perferendis porro provident qui repellat sed veniam veritatis voluptatibus.laaaaaaaa</p>
{% endblock content %}
</body>
</html>